<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

    <meta charset="UTF-8"/>
    <title>Test Exercise</title>

</head>

<body>

<div th:replace="fragments/head :: navigation"></div>

<div class="container">
    <div class="row title">
        <h4>Login</h4>
    </div>
    <div class="row">
        <form method="POST">
            <input type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Invalid username and/or password!
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a class="btn btn-primary" th:href="@{/public/new-user}">New User</a>
        </form>
    </div>
</div>
</body>

</html>