<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Test Exercise</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/public/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/public/app.css}"/>

    <script type="text/javascript" th:src="@{/public/jquery/js/jquery-3.2.1.slim.min.js}"/>
    <script type="text/javascript" th:src="@{/public/popper/js/popper.min.js}"/>
    <script type="text/javascript" th:src="@{/public/bootstrap/4.0.0-beta/js/bootstrap.min.js}"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" th:href="@{/}">Testex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form sec:authorize="hasRole('ROLE_USER')" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>

</body>
</html>