<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head">

    <meta charset="UTF-8"/>
    <title>Test Exercise</title>

</head>

<body>

<div th:replace="fragments/head :: navigation">
</div>

<div class="container">
    <div class="row title">
        <h4>Form</h4>
    </div>

    <div class="row">
        <form method="POST" th:object="${sectorsModel}" >
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" th:field="*{name}"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Name Error
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Sectors</label>
                </div>
                <div>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sectors')}" th:errors="*{sectors}">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Sectors Error
                    </div>
                    <select style="height: 100%;" size="15" multiple="true" th:field="*{sectors}" id="sectors" name="sectors">
                        <option th:each="sector : ${allSectors}"
                                th:value="${sector.value}"
                                th:text="${sector.title}">Placeholder</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="terms">Agree to terms</label>
                <input id="terms" name="terms" th:field="*{terms}" type="checkbox"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('terms')}" th:errors="*{terms}">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Terms Error
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="row"></div>
</div>

<script type="text/javascript">
    /*<![CDATA[*/
    window.onmousedown = function (e) {
        var el = e.target;
        if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
            e.preventDefault();

            // toggle selection
            if (el.hasAttribute('selected')) el.removeAttribute('selected');
            else el.setAttribute('selected', '');

            // hack to correct buggy behavior
            var select = el.parentNode.cloneNode(true);
            el.parentNode.parentNode.replaceChild(select, el.parentNode);
        }
    }
    /*]]>*/
</script>

</body>

</html>